<div id="header">
  <%= image_tag("logo.png", :alt => "resizeimage.org - resize pictures online for free")  %>
  <div id="top-ad"> 
  <script type="text/javascript"><!--
    google_ad_client = "ca-pub-9204152224485684";
    /* header */
    google_ad_slot = "0084059523";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </div>
</div>
