<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="title" content="resizeimage.org - resize images easily." />
<meta name="description" content="resizeimage.org lets you resize images or crop your images quickly. Our staff of untrained monkeys use only the finest computing devices." />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<title>resizeimage.org - Resize images with ease</title>
