<h1>Resize your image</h1>

<%= form_for @image, :url => advanced_update_resizable_image_path, :html => {:id => 'edit_form', :method => :put } do |f| %>
<div><input type="checkbox" id="preserve_ratio" checked="checked" /><label for="preserve_ratio">Keep height and width proportional</label></div>
<div><%= submit_tag "Save changes" %></div>

<div id="image_container">
<%=raw resizable_image_tag(@image.url, @image.image_file_name) %>

<input type="hidden" name="x" id="x" />
<input type="hidden" name="y" id="y" />
</div>

<% end %>
