<h1>Crop your image</h1>

<%= form_for @image, :url => crop_update_resizable_image_path, :html => {:id => 'crop_form', :method => :put } do |f| %>

<div>
  <h3>Cropping ratio</h3>
  <input type="radio" name="ratio" value="same" id="same" /><label for="same">Same as picture</label>
  <input type="radio" name="ratio" value="square" id="square" /><label for="square">Square</label>
  <input type="radio" name="ratio" value="free" id="free" /><label for="free">Free form</label>
</div>
<div><%= submit_tag "Save changes" %></div>

<div id="image_container">
  <%=raw crop_image_tag(@image.image.url, @image.image_file_name) %>

  <%= f.hidden_field :x1, :id => :x1 %>
  <%= f.hidden_field :x2, :id => :x2 %>
  <%= f.hidden_field :y1, :id => :y1 %>
  <%= f.hidden_field :y2, :id => :y2 %>
  
</div>

<% end %>
