<h1>Listing resizable_images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resizable_images.each do |resizable_image| %>
  <tr>
    <td><%= link_to 'Show', resizable_image %></td>
    <td><%= link_to 'Edit', edit_resizable_image_path(resizable_image) %></td>
    <td><%= link_to 'Destroy', resizable_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resizable image', new_resizable_image_path %>
