<%= form_for :image, :url => resizable_images_path, :html => {:id => 'image_form', :multipart => true} do |f| %>
<div id="file">
<%= label(:image, "Select an image") %><%= f.file_field :image %>
</div>
<%= submit_tag "Upload Image" %>
<% end %>

