<h1>Resize your image</h1>

<%= form_for @image, :html => {:id => 'edit_form', :method => :put } do |f| %>

<div id="options">
  <input type="radio" name="size" value=".3" id="small" /><label for="small">Small</label>
  <input type="radio" name="size" value=".5" id="medium" /><label for="medium">Medium</label>
  <input type="radio" name="size" value=".7" id="large" /><label for="large">Large</label>
  <input type="radio" name="size" value="1" id="original" /><label for="original">Original</label>
  
  <span>Want a custom size? Try our <%= link_to "advanced editor", advanced_edit_resizable_image_path %></span>
</div>
<div><%= submit_tag "Save changes" %></div>

<div id="image_container">
<%=raw basic_image_tag(@image.image.url, @image.image_file_name) %>


<input type="hidden" name="x" id="x" />
<input type="hidden" name="y" id="y" />
</div>

<% end %>
