* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color:#CDDAD5;
}

html {
  font-size: 100%;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size:62.5%;
  font-weight:normal;
  background: #CDDAD5 url(../images/bg.gif) top left repeat-x; 
}

#container {
  font-size: 1.3em;
  line-height: 1.5em;
}

#footer {
  font-size: 1.3em;
}

p {
  margin-bottom: 1.5em;
}

/* ---------- add your code below ---------- */

#container { 
  /* margin:1em 0; */
 background:transparent;
 color:#4a4a4a;

  min-height: 100%;
  position: relative;
}

#left_container {
 /* float: left;*/
  width: 13em;
  margin: 0;
  padding: 1em;
}

/*
#left_info, #share {
  margin-top: 1em;
}


#left_nav {
  float: left;
  width: 13em;
  margin: 0;
  padding: 1em;
}

#left_info {
  float: left;
  width: 13em;
  margin: 0;
  padding: 1em;
}*/

#content {
  position:absolute;
  top:160px;
  left:100px;
  margin-left: 13em;
  /* border-left: 1px solid gray; */
  padding: 1em 1em 4em;


}

#header {
  padding: .5em;
}

#header img {
  padding: 0;
  margin: 0;
  float:left;
}


#footer {
  clear: both;
  margin: 0;
  /* padding: .5em; */
  color:#4a4a4a;
  background-color: #CDDAD5;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
  left: 0;
}
#footer p {
  margin:10px 0 0 20px;
}
#leftnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

#content {
  background: transparent; 
  color:#4a4a4a;
}
#leftnav, #left_info, #share, #sponsor {
  margin-left:30px;
}
#left_info, #share, #sponsor {
  margin-top:20px;
}
#options input, input, textarea {
  margin:0 2px 10px 10px;
}
#options span {
  display:block;
  margin:0 0 10px 10px;
}
#login_logout {
  float: right;
  color:#4a4a4a;
  font-size: smaller;
}
form #search {
  text-align: center;
  margin:0.2em 0 1em;
}

h1 {
  margin:0 0 10px 0;
}
a {
  color:#009999;
}
a:hover {
  color:#006699;
}
form label, input {
  font-size: 1.2em;
  padding: 2px;
}

th {
  text-align: right;
  font-size:1.1em;
}

label {
  padding-right: .4em;
}

.odd {
  background-color: #D3E6CF;
}

.even {
  background-color: #fff;
}

#menu, #info, #share_list {
  list-style-type: none;
}

#filesizeinfo {
   display: none; 
}

#image_form {
  position:absolute;
  top:140px;
  left:235px;
}
#file input#image_uploaded_data {
  margin-right:10px;
}
#file label {
  font-size:1.9em;
  font-weight:bold;
  color:#4a4a4a;
}
#file input {
  vertical-align:0px;
}
#image_container {
  margin: 1em;
}

#hidden {
  display: none;
}

#crop {
  margin-left: 2em;
}
#crop_form h3 {
  margin:0 0 5px 10px;
}
div#header_ad {
  position:absolute;
  top:0;
  left:0;
  height:15px;
  background:#dddddd url(../images/top.gif) top left no-repeat;
  width:100%;
}
div#header_ad iframe {
  padding-left:300px;
}
div#side_ad a {
  display:block;
}

.pop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display: none;
  position:absolute;
  text-align:left;
  width:260px;
  z-index:500;
  padding: 25px 25px 20px;
  margin: 0;
  width: 260px;  
  -webkit-border-radius: 5px; 

  -moz-border-radius: 5px; 
}

.ui-resizable-handle { width: 8px; height: 8px; border: 1px solid rgb(128, 128, 128); background: rgb(242, 242, 242); }
.ui-resizable-n, .ui-resizable-s { left: 45%; }
.ui-resizable-e, .ui-resizable-w { top: 45%; }
.ui-resizable-se { bottom: -5px; right: -5px; }

#top-ad {
  vertical-align:top;
  margin: 40px 0 0 620px;
}
