<div id="content">    
  <h1>About ResizeImage</h1>
  <p>Images uploaded are hosted on the server for one week. Feel free to link to your image during this period.</p>
  
  <p>Should you decide to send an email to a friend you'll be glad to know that we do not store your email address or friends' email addresses.</p>
</div>