<!DOCTYPE html>
<html>
<head>
  <%= render 'resizable_images/inner_head' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery-ui', 'jquery.form', 'jcrop' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <%= render 'resizable_images/header' %>
    <%= yield %>
    <%= render 'resizable_images/footer' %>
  </div>
  <%= render 'resizable_images/analytics' %> 
</body>
</html>
