<!DOCTYPE html>
<html> 
<head> 
  <%= render(:partial => "inner_head")%>
  <%= stylesheet_link_tag 'jquery-ui', 'style', 'jcrop' %> 
  <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&amp;login=agaskell&amp;apiKey=R_93bb96e4ae3bbe9ef9a3bbde9259735f"></script>
  <script type="text/javascript" charset="utf-8" src="http://s.bit.ly/TweetAndTrack.js?v=1.01"></script>
  <%= javascript_include_tag :defaults, 'jquery-ui', 'jquery.form', 'jcrop' %>
  <meta name="medium" content="image" />
  <link rel="image_src" href="http://resizeimage.org<%= @image.image.url %>" />  
</head> 
<body>
  <div id="container">
    <%= render(:partial => "header")%>

    <div id="left_container">
      <div id="leftnav">
        <h3>Options</h3>
        <ul id="menu">
          <li><%= link_to "Start over", root_path %></li>
          <li><%= link_to "Basic resize", resizable_image_path %></li>
          <li><%= link_to "Advanced resize", advanced_edit_resizable_image_path %></li>
          <li><%= link_to "Crop", crop_resizable_image_path %></li>
        </ul>
      </div>

      <div id="left_info">
        <h3>Current Image</h3>
        
        <ul id="info">
          <li>Width: <label id="width"></label></li>        
          <li>Height: <label id="height"></label></li>        
          <li><%= link_to "Download Image", download_resizable_image_path %></li>
          <li>File size: <label id="filesize"><a href="#"><%= @image.human_size %></a></label></li>        
        </ul>
        <div id="filesizeinfo" >This is the file size as it exists on our server. Click <strong>Save changes</strong> to get the latest file size.</div>
        <div id="side_ad">
       
        </div>
      </div>
      
      <div id="share">
        <h3>Share</h3>
        <ul id="share_list">
<!--          <li><%= link_to "Email This Image", email_resizable_image_path %></li> -->
          <li><a href="#" onclick="return TweetAndTrack.open(this, '<%= resizable_image_path(:only_path => false) %>');"><span style="display:none;">I just resized my picture at http://resizeimage.org!</span>Tweet This!</a></li>
          <li><a href="http://www.facebook.com/share.php?u=<%= resizable_image_path(:only_path => false) %>">Share on Facebook</a></li>
        </ul>      
      </div>
    <!--  
      <div id="sponsor" style="height:600px;">
        <h3>Sponsors</h3>
          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-9204152224485684";
          /* resizeimage */
          google_ad_slot = "9927810514";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
      </div> 
    </div> -->
    
    <div id="content">    
      <%= yield %> 
    </div>
    <%= render(:partial => "footer")%>
  </div>    
  <%= render(:partial => "analytics")%>

</body> 
</html> 
